{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tiza Negra</title>
    <link rel="stylesheet" href="{% static "style/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "style/css/floating-labels.css" %}">
    <link rel="stylesheet" href="{% static "style/css/custom.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
    <div id="app">
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static "images/logo.svg" %}" width="30" height="30" class="d-inline-block align-top" alt="">
                <span class="d-none d-sm-inline">Tiza Negra</span>
            </a>

            <form class="form-inline form-inline-nav">
                <input class="form-control mr-2 my-1" type="search" placeholder="Buscar..." aria-label="Search">
                {% if user.is_authenticated %}
                    <a href="{% url 'panel' %}" class="btn btn-outline-light"><i class="fas fa-user"></i> <span class="d-none d-sm-inline">{{ user.get_username }}</span></a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light"><i class="fas fa-sign-in-alt"></i> <span class="d-none d-sm-inline">Entrar</span></a>
                {% endif %}

            </form>

            </ul>


        </nav>
    </header>
    <section id="main-content">
        {% block main_content %}

        {% endblock %}
    </section>

    <footer class="container-fluid bg-dark">
        <p>[[ title ]]</p>
        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </footer>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static "style/js/main.js" %}"></script>
</body>
</html>