{% extends 'tizanegra/base.html' %}
{% load static %}

{% block main_content %}
    <section class="container-fluid dark-background px-sm-5">
        <div class="row justify-content-center py-2">
            <div class="col-md-4 pt-5">
                <h1>Ahora eres tú el que puntúa</h1>
                <p class="text-grey">En Tizanegra le damos la vuelta a la tortilla ofreciendo a los estudiantes la posibilidad de valorar sus profesores y asignaturas.</p>
            </div>
            <div class="col-md-7 my-3 mx-2" id="signup-container">
                <form id="signup-form" class="form-signin" action="{% url 'signup' %}" method="post" @submit.prevent="manageSignUp">
                    {% csrf_token %}
                    <div class="form-label-group">
                        <input type="text" id="inputName" v-model="username" @change="checkUsername"
                               :class="{'is-invalid' : is_username_invalid, 'is-valid': is_username_valid }"
                               class="form-control" placeholder="Nombre de usuario" name="username" required>

                        <label for="inputName">Nombre de usuario</label>
                    </div>

                    <div class="form-group">
                        <select class="form-control" id="universitySelect" name="university" v-model="university">
                            <option value="UGR">Universidad de Granada</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" id="degreeSelect" name="degree" v-model="degree">
                            <option value="GII">Grado en Ingeniería Informática</option>
                            <option value="GITT">Grado en Ingeniería de Tecnologías de Telecomunicación</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" id="inputEmail" v-model="email" @change="checkEmail"
                               :class="{'is-invalid' : is_email_invalid, 'is-valid': is_email_valid }"
                               class="form-control" placeholder="Email" name="email" required>
                        <div class="input-group-append">
                            <span id="emailExtension" class="input-group-text">@correo.ugr.es</span>
                        </div>

                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" v-model="password" @change="checkPassword"
                               :class="{'is-invalid' : is_password_invalid, 'is-valid': is_password_valid }"
                               class="form-control" placeholder="Contraseña" name="password" required>
                        <label for="inputPassword">Contraseña</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputRepeatedPassword" v-model="repeated_password" @change="checkPassword"
                               :class="{'is-invalid' : is_password_invalid, 'is-valid': is_password_valid }"
                               class="form-control" placeholder="Repetir contraseña" required>
                        <label for="inputRepeatedPassword">Repetir contraseña</label>
                    </div>

                    <div class="form-group">
                        <div class="form-check ml-1">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label text-dark" for="gridCheck">
                            Acepto los términos y condiciones de uso
                            </label>
                        </div>
                    </div>

                    <div v-if="signup_form_errors.length" class="alert alert-danger" role="alert">
                        <ul>
                            <li v-for="error in signup_form_errors">
                                [[ error.message ]]
                            </li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-success btn-block" :class="{ 'disabled' : is_form_invalid }" :disabled=is_form_invalid >Crear cuenta</button>
                </form>
            </div>
        </div>

    </section>


    <div class="container" id="rating_app">
        <div class="container my-4">
            <h1 class="display-4 text-center">Profesores</h1>
            <p class="lead text-center">Estos son algunos de los profesores registrados en tizanegra con mejores valoraciones de estudiantes</p>
        </div>


        <div class="row">

        {% for teacher in best_teachers %}

            <div class="px-5 px-sm-3 col-sm-6 col-lg-3">
                <div class="card border-dark mb-5 best-teacher-card">
                    <a href="{{ teacher.get_url }}">
                        <img class="card-img-top" src="{{ teacher.get_photo }}" alt="Card image cap">
                        <div class="teacher-info text-center px-2">
                            <h2 class="text-dark">{{ teacher.name }}</h2>
                            <h5 class="text-black-50">{{ teacher.university.acronym }}</h5>
                        </div>
                    </a>
                    <div class="card-footer py-1 mx-auto bg-white border-dark">
                        <star-rating :inline="true" :increment="0.1" :star-size="25" :rating="{{ teacher.get_rating_score }}"
                        :show-rating="false" :border-width="4" border-color="#d8d8d8" :rounded-corners="true"
                        :read-only="true" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                        </star-rating>
                    </div>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-sm-7 pt-lg-5 mt-md-5 mt-sm-4">
                <h1 class="display-4 text-center">Asignaturas</h1>
                <p class="lead text-center">Valorando y comentando asignaturas que hayas cursado ayudarás a otros estudiantes a decidirse con su matrícula</p>
            </div>
            <div class="col-sm-5">
                <img class="rounded img-fluid mx-auto d-block" src="{% static "images/subjects.png" %}">
            </div>
        </div>
    </div>

    <div class="container my-5">
         <h1 class="display-4 text-center"><img class="rounded img-fluid" width="100px" src="{% static "images/goals.png" %}">Objetivos</h1>
        <p class="lead text-center">Nuestro principal objetivo es ofrecer ayudas y facilidades al estudiante a la hora de decidirse por una asignatura o profesor, ya que especialmente en los primeros años de universidad esta tarea puede ser realmente difícil.</p>
        <p class="lead text-center">También buscamos dar apoyo a los profesores y universidades ofreciendo una herramienta de autoevaluación donde podrán consultar las opiniones de sus estudiantes.</p>

    </div>

    <script src="{% static "style/js/main.js" %}"></script>
    <script src="{% static "style/js/rating_app.js" %}"></script>
{% endblock %}