{% extends 'tizanegra/base.html' %}
{% load static %}

{% block main_content %}
    <section class="container-fluid dark-background px-sm-5">
        <div class="row justify-content-center py-2">
            <div class="col-md-4 pt-5">
                <h1>Ahora tú eres el que puntúa</h1>
                <p class="text-grey">En Tizanegra le damos la vuelta a la tortilla ofreciendo a los estudiantes la posibilidad de valorar a sus profesores y asignaturas.</p>
            </div>
            <div class="col-md-7 my-3 mx-2" id="signup-container">
                <form id="signup-form" class="form-signin" action="{% url 'signup' %}" method="post" @submit.prevent="manageSignUp">
                    {% csrf_token %}
                    <div class="form-label-group">
                        <input type="text" id="inputName" v-model="username" @change="checkUsername"
                               :class="{'is-invalid' : is_username_invalid, 'is-valid': is_username_valid }"
                               class="form-control" placeholder="Nombre de usuario" name="username" required>

                        <label for="inputName">Nombre de usuario</label>
                    </div>

                    <div class="form-group">
                        <select class="form-control" id="universitySelect" name="university" v-model="university">
                            <option value="UGR">Universidad de Granada</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" id="degreeSelect" name="degree" v-model="degree">
                            <option value="GII">Grado en Ingeniería Informática</option>
                            <option value="GITT">Grado en Ingeniería de Tecnologías de Telecomunicación</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" id="inputEmail" v-model="email" @change="checkEmail"
                               :class="{'is-invalid' : is_email_invalid, 'is-valid': is_email_valid }"
                               class="form-control" placeholder="Email" name="email" required>
                        <div class="input-group-append">
                            <span id="emailExtension" class="input-group-text">@correo.ugr.es</span>
                        </div>

                    </div>

                    <div class="form-label-group">
                        <input type="password" id="inputPassword" v-model="password" @change="checkPassword"
                               :class="{'is-invalid' : is_password_invalid, 'is-valid': is_password_valid }"
                               class="form-control" placeholder="Contraseña" name="password" required>
                        <label for="inputPassword">Contraseña</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputRepeatedPassword" v-model="repeated_password" @change="checkPassword"
                               :class="{'is-invalid' : is_password_invalid, 'is-valid': is_password_valid }"
                               class="form-control" placeholder="Repetir contraseña" required>
                        <label for="inputRepeatedPassword">Repetir contraseña</label>
                    </div>

                    <div class="form-group">
                        <div class="form-check ml-1">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label text-dark" for="gridCheck">
                            Acepto los términos y condiciones de uso
                            </label>
                        </div>
                    </div>

                    <div v-if="signup_form_errors.length" class="alert alert-danger" role="alert">
                        <ul>
                            <li v-for="error in signup_form_errors">
                                [[ error.message ]]
                            </li>
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" :class="{ 'disabled' : is_form_invalid }" :disabled=is_form_invalid >Crear cuenta</button>
                </form>
            </div>
        </div>

    </section>


    <div class="container" id="rating_app">
        <div class="container my-4">
            <h1 class="display-4 text-center">Profesores</h1>
            <p class="lead text-center">Estos son algunos de los profesores registrados en tizanegra con las mejores valoraciones realizadas por estudiantes</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card border-dark mb-5">
                    <img class="card-img-top" height="200px" src="{% static "images/teacher1.png" %}" alt="Card image cap">
                    <div class="card-footer border-dark py-1 m-0 horizontal-center">
                        <container class="best-teachers-stars">
                            <star-rating :increment="0.1" :star-size="25" :rating="5"
                            :show-rating="false" :border-width="4" border-color="#d8d8d8" :rounded-corners="true"
                            :read-only="true" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                            </star-rating>
                        </container>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card border-dark mb-5">
                    <img class="card-img-top" height="200px" src="{% static "images/teacher2.png" %}" alt="Card image cap">
                    <div class="card-footer border-dark py-1 m-0">
                        <star-rating :increment="0.1" :star-size="25" :rating="4.7"
                        :show-rating="false" :border-width="4" border-color="#d8d8d8" :rounded-corners="true"
                        :read-only="true" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                        </star-rating>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card border-dark mb-5">
                    <img class="card-img-top" height="200px" src="{% static "images/teacher3.png" %}" alt="Card image cap">
                    <div class="card-footer border-dark py-1 m-0">
                        <star-rating :increment="0.1" :star-size="25" :rating="4"
                        :show-rating="false" :border-width="4" border-color="#d8d8d8" :rounded-corners="true"
                        :read-only="true" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                        </star-rating>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="card border-dark mb-5">
                    <img class="card-img-top" height="200px" src="{% static "images/teacher4.png" %}" alt="Card image cap">
                    <div class="card-footer border-dark py-1 m-0">
                        <star-rating :increment="0.1" :star-size="25" :rating="4.5"
                        :show-rating="false" :border-width="4" border-color="#d8d8d8" :rounded-corners="true"
                        :read-only="true" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                        </star-rating>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-sm-6">
                <img class="rounded img-fluid" src="http://www.slidesjs.com/examples/standard/img/example-slide-1.jpg">
            </div>
            <div class="col-sm-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>

    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-sm-6">
                <img class="rounded img-fluid" src="http://www.slidesjs.com/examples/standard/img/example-slide-1.jpg">
            </div>
        </div>

    </div>
    <script src="{% static "style/js/main.js" %}"></script>
    <script src="{% static "style/js/rating_app.js" %}"></script>
{% endblock %}