{% extends 'tizanegra/base.html' %}
{% load static %}

{% block main_content %}

<div class="container-fluid py-4" id="rating_app">
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <img width="150px" height="150px"  src="/{{ subject.university.logo }}" class="mr-2 rounded float-left img-fluid img-thumbnail">
                    <h5 class="card-title">{{ subject.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ subject.university.acronym }} - {{ degree.name }}</h6>

                    <star-rating :increment="0.1" :star-size="40" :rating="{{ subject.get_rating_score }}"
                     :show-rating="false" :border-width="4" border-color="#d8d8d8" :rounded-corners="true"
                     :read-only="true" :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                    </star-rating>

                    <ul class="list-unstyled mt-2">
                        {% for tag in subject.get_tags %}
                            <li class="badge badge-dark p-2">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    <a class="lead px-4 pl-sm-3 text-dark" href="http://{{ subject.website }}" target="_blank">{{ subject.website }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">

            {% if not ratings %}
                <div class="card shadow mb-3">
                    <div class="card-body">
                        Aun no existe ninguna valoración para este profesor. ¡Sé el primero en crear una!
                    </div>
                </div>
            {% endif %}

            {% for rating in ratings %}
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="float-left">
                        <img width="50px" src="/{{ rating.user.student.get_photo }}" class="mr-2 rounded float-left img-fluid img-thumbnail">
                        <star-rating :increment="0.1" :star-size="15" :rating="{{ rating.score }}" :show-rating="false"
                         :border-width="4" border-color="#d8d8d8" :rounded-corners="true" :read-only="true"
                         :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
                        </star-rating>

                        <span class="clearfix">
                            {% if rating.anonymity %}Anónimo
                            {% else %}{{ rating.user }}
                            {% endif %}
                        </span>
                        <ul class="list-unstyled my-1">
                            <li class="badge badge-dark p-2 mt-1">{{ rating.tag1 }}</li>
                            <li class="badge badge-dark p-2 mt-1">{{ rating.tag2 }}</li>
                            <li class="badge badge-dark p-2 mt-1">{{ rating.tag3 }}</li>
                        </ul>
                    </div>

                    <div class="float-right">
                        {{ rating.date }}
                    </div>

                </div>

                {% if rating.comment.text %}
                <div class="card-footer rating-comment">
                    <p>{{ rating.comment.text }}</p>

                    <button type="button" class="btn btn-success btn-sm font-weight-bold"
                        v-on:click="addPositiveScore({{ rating.comment.pk }})">
                        <i class="far fa-smile mr-1"></i>
                        <span id="positive-counter-{{ rating.comment.pk }}">{{ rating.comment.positive_score }}</span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm font-weight-bold"
                        v-on:click="addNegativeScore({{ rating.comment.pk }})">
                        <i class="far fa-frown mr-1"></i>
                        <span id="negative-counter-{{ rating.comment.pk }}">{{ rating.comment.negative_score }}</span>
                    </button>

                    <button type="button" class="btn btn-outline-info btn-sm ml-2" data-toggle="modal"
                        data-target="#reportingModal" data-comment-id="{{ rating.comment.pk }}">
                        <i class="fas fa-exclamation-circle mr-1"></i>
                        <span class="d-none d-sm-inline">Reportar comentario</span>
                    </button>
                </div>
                {% endif %}

            </div>
            {% endfor %}

        </div>

        <div class="col-md-5">
            {% if post_request_result == None %}
                {% include "tizanegra/subject_rating_form.html" %}
            {% elif post_request_result == True %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">¡Genial!</h4>
                    <p>Tu valoración se ha creado con éxito y ha sido añadida a la lista de valoraciones de esta asignatura.</p>
                    <hr>
                    <p class="mb-0">Recuerda que si tu valoración contiene algun tipo de contenido inapropiado será eliminada por nuestros moderadores.</p>
                </div>
            {% elif post_request_result == False %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Ooops!</h4>
                    <p>Lo siento, ha ocurrido un error al crear tu valoración, inténtalo de nuevo.</p>
                    <hr>
                    <p class="mb-0">Si ya lo has intentando varias veces obteniendo el mismo error ponte en contacto con un administrador.</p>
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% include "tizanegra/reporting_modal.html" %}

<script src="{% static "style/js/rating_app.js" %}"></script>
{% endblock %}