language: python
python:
  - "3.6.0"

services: postgresql

env:
  global:
    - DJANGO_SETTINGS_MODULE="tizanegra.settings"
    - PYTHONPATH="/home/travis/build/ajpelaez/tizanegra"
    - PIP_USE_MIRRORS=true
    - BUILD_ON_TRAVIS=true

install:
  - pip install mysqlclient
  - pip install -r requirements.txt

before_script:
  - psql -c 'create database travis_ci;' -U postgres
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py makemigrations tizanegra
  - python manage.py migrate tizanegra
script:
  - python manage.py test