{% extends 'tizanegra/base.html' %}

{% block main_content %}
<div class="d-flex justify-content-center align-items-center">
    {% if user.is_authenticated %}
        <div class="alert alert-warning mt-5" role="warning">
            Ya has iniciado sesión con una cuenta, si quieres cambiar de cuenta debes cerrar sesión primero.
        </div>
    {% else %}

        <form class="form-signin my-5 " method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
            </div>

            <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="Nombre de usuario" name="username" required autofocus>
                <label for="inputUsername">Nombre de usuario</label>
            </div>

            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="password" required>
                <label for="inputPassword">Contraseña</label>
            </div>

            <button class="btn btn-lg btn-success btn-block" type="submit" >Entrar</button>

            <p class="mt-2"><a href="{% url 'password_reset' %}">¿Contraseña olvidada?</a></p>

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Tu usuario y contraseña no coinciden, por favor, inténtalo de nuevo.
            </div>
            {% endif %}
        </form>
    </div>
    {% endif %}
{% endblock %}