{% extends 'tizanegra/base.html' %}
{% load static %}
{% block main_content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <img src="/{{ user.student.get_photo }}" class="mr-2 rounded float-left img-fluid img-thumbnail" width="150px">
                    <ul class="list-unstyled mt-1">
                        <li><i class="fas fa-user"></i> {{ user.username }}</li>
                        <li><i class="fas fa-university"></i> {{ user.student.university }}</li>
                        <li><i class="fas fa-graduation-cap"></i> {{ user.student.degree }}</li>
                        <li><i class="fas fa-file-signature"></i> {{ user.student.get_ratings_count }} valoraciones</li>
                    </ul>
                </div>
            </div>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                Últimas valoraciones
                </a>
                <a href="#" class="list-group-item list-group-item-action">Mis valoraciones</a>
            </div>

            <div class="list-group mt-4">
                <a href="#" class="list-group-item list-group-item-action">Añadir profesor</a>
                <a href="#" class="list-group-item list-group-item-action">Añadir asignatura</a>
            </div>

            <div class="list-group my-4">
                <a href="#" class="list-group-item list-group-item-action">Mi perfil</a>
                <a href="#" class="list-group-item list-group-item-action">Cambiar foto</a>
                <a href="#" class="list-group-item list-group-item-action">Cambiar contraseña</a>
                <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Cerrar sesión</a>
            </div>
        </div>

        <div class="col-md-7 col-lg-8" id="panel-content">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <img src="{% static "images/teacher-profile.jpg" %}" class="mr-2 rounded float-left img-fluid img-thumbnail">
                    <h5 class="card-title">Antonio Jesús Peláez Priego</h5>
                    <img class="mb-1" src="{% static "images/five-stars.png" %}">
                    <ul class="list-unstyled">
                        <li>Autor: @ajpelaez</li>
                        <li>Comentario: Me parece un profesor fantástico que se toma sus clases muy enserio</li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
</div>

{% endblock %}