<div class="ui mini modal" id="modal-login">
    <div class="content">
        <form class="ui form">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="username" placeholder="Nombre de usuario o email">
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <button class="ui button fluid orange" type="submit">Iniciar sesión</button>
        </form>
    </div>
</div>