<div class="ui tiny modal" id="modal-registro">
    <div class="content">
        <form id="formulario-registro" class="ui form" method="post" url="www.google.es">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <input type="text" name="nombre" placeholder="Nombre" >
                </div>
                <div class="field">
                    <input type="text" name="apellidos" placeholder="Apellidos" >
                </div>
            </div>
            <div class="field">
                <select id="dropdown-universidades" name="universidad" class="ui search dropdown">
                    {% for universidad in universidades %}
                    <option value="{{ universidad.siglas }}">{{ universidad.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <input type="text" name="email" placeholder="Email" >
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="password" name="password" placeholder="Contraseña" >
                </div>
                <div class="field">
                    <input type="password" name="repeated_password" placeholder="Repetir Contraseña" >
                </div>
            </div>
            <button class="ui button fluid orange" type="submit">Completar registro</button>
        </form>
    </div>
</div>