<div class="ui tiny modal" id="modal-registro">
    <div class="content">
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <input type="text" name="nombre" placeholder="Nombre">
                </div>
                <div class="field">
                    <input type="text" name="apellidos" placeholder="Apellidos">
                </div>
            </div>
            <div class="field">
                <select class="ui search dropdown">
                    <option value="Granada">Universidad de Granada</option>
                    <option value="Jaen">Universidad de Córdoba</option>
                    <option value="Cordoba">Universidad de Jaén</option>
                </select>
            </div>
            <div class="field">
                <input type="text" name="email" placeholder="Email">
            </div>
            <div class="two fields">
                <div class="field">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <div class="field">
                    <input type="password" name="repeated_password" placeholder="Repetir Contraseña">
                </div>
            </div>
            <button class="ui button fluid orange" type="submit">Completar registro</button>
        </form>
    </div>
</div>