html{
    height: 100%;
}
body {
    min-height: 100%;
    min-width: 350px;
    background-color: white;
    position: relative;
    margin: 0;
    padding: 3.5em 0;
}

body::after {
  content: '';
  display: block;
  height: 60px; /* Set same as footer's height */
}

.navbar{
    min-width: 350px;
}

.navbar-nav li{
    display: inline;
}

.form-inline-nav{
    flex-flow: row;
}

#signup-container{
    border-radius: 5px;
    background-color: white;
    max-width: 500px;
}

.rating-form{
    background-color: white;
}

.dark-background {
    color: white;
    background: url(/static/images/simple-codelines.png), #2b3137;
    background-position: center 10%;
    background-size: cover;
}

.text-grey{
    color: lightgrey;
}

.horizontal-center{
    padding-left: auto;
    padding-right: auto;
}

.bg-white{
    background-color: white !important;
}

#main-content{
    background-color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer img:hover{
    opacity: 0.8;
}

.rating-form{
}


.best-teacher-card .teacher-info{
    position:absolute;
    top: 40px;
    visibility: hidden;
}

.best-teacher-card:hover .teacher-info{
    cursor: pointer;
    visibility: visible;
}

.teacher-info h5{
    position: relative;
}


.best-teacher-card:hover img{
    opacity:0.2;
    cursor: pointer;
}



