body{
    height: 100%;
    min-width: 350px;
    padding-top: 3.5em;
    /*background-image: url(/static/images/bg.jpg);*/
    background-color: #353942;
}

.navbar{
    min-width: 350px;
}

#main-content{
    padding-bottom: 1em;
    background-color: #fff3cd;
}

.navbar-nav li{
    display: inline;
}

.form-inline-nav{
    flex-flow: row;
}

#signup-container{
    border-radius: 5px;
    background-color: white;
    max-width: 500px;
    min-width: 325px;
}

.rating-form{
    background-color: white;
}

.dark-background {
    color: white;
    background: url(/static/images/simple-codelines.svg), #2b3137;
    background-position: center 10%;
    background-size: cover;
}

.text-grey{
    color: lightgrey;
}