body{
    height: 100%;
    min-width: 350px;
    padding-top: 3.5em;
    /*background-image: url(/static/images/bg.jpg);*/
    background-color: #353942;
}

.navbar{
    min-width: 350px;
}

#main-content{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff3cd;
}

.navbar-nav li{
    display: inline;
}

.form-inline-nav{
    flex-flow: row;
}

#signup_container{
    border-radius: 5px;
    margin: 15px 10px 10px 10px;
    background-color: #FEFFF5;
    max-width: 600px;
}

.rating_form{
    background-color: white;
}